// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

//  drawer settings
$al-drawer-width: 200px;  //!default
$al-drawer-small-width: 64px !default;
$al-background-color: #4b4b65 !default;

//  drawer colors
$al-drawer-font-color: white !default;
$al-drawer-background-color: #1156a8 !default;

//  top bar color variables
$al-bar-font-color: white !default;
$al-bar-background-color: #1156a8 !default;

//  menu items active entries colors
$al-menu-button-active-font-color: #1156a8 !default;
$al-menu-button-active-background-color: whitesmoke;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here

  #margin-bottom {
    margin-bottom: 10px !important;
  }
}
